<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.feng.myapp">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 高德地图 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- android:theme="@android:style/Theme.Light.NoTitleBar" -->
    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@drawable/logo_h"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
        tools:replace="android:icon"
        android:name=".base.App">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8996c9ad97acfb81996ea2400118c0fd" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestListActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".TestLinearActivity" />
        <activity android:name=".TestJsoupActivity" />
        <activity
            android:name=".naviMapDemo.MultipleRoutePlanningActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".naviMapDemo.SimpleNaviActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".jsoup.SinaNewsActivity" />
        <activity android:name=".jsoup.HDWMovieActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".WebViewHtmlActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".test.TestAnimationsActivity" />
        <activity android:name=".test.TestGalleryActivity" />
        <activity android:name=".test.TestPropertyAnimationActivity" />
        <activity android:name=".test.TestLoadingActivity" />
        <activity android:name=".test.TestBluetoothActivity" />
        <activity android:name=".test.TwoSidedViewActivity" />
        <activity android:name=".jingdong.loading.JDMainActivity" />
        <activity android:name=".jingdong.loading.PullToRefreshActivity" />
        <activity android:name=".jingdong.loading.TestScrollView.RefreshScrollowActivity" />
        <activity android:name=".jingdong.loading.TestScrollView.JDTestActivity" />
        <activity android:name=".test.TestBug1Activity" />
        <activity android:name=".animation.AnimationActivity" />
        <activity android:name=".animation.ActivityOptionsActivity" />
    </application>

</manifest>